[2015-04-28 22:02] AGBrown opened #1 "Interface: Error"
What is the shape of an error (as passed to a callback/promise)?

1. Which these properties below are optional/mandatory and what do they mean?
1. What other properties exist on error?
1. Is it method-dependent?

Proposed shape:

[code]

[2015-04-29 11:59] nolanlawson commented on #1
Most of the errors do look like this. It's not guaranteed, though.

There are certain cases where the errors are meaningful and we expect people to handle them themselves. In those cases you're supposed to look for the `status` member, e.g. `err.status === 404` or `err.status === 409`.

[2015-04-29 12:46] AGBrown commented on #1
Thanks @nolanlawson . Is it predictable per-method which type of error comes back, or is it more to do with things like dealing with remote/local databases?

[2015-04-29 17:01] marten-de-vries commented on #1
@AGBrown Some good examples of 'other' errors are in the PouchDB constructor: https://github.com/pouchdb/pouchdb/blob/master/lib/constructor.js#L59 . On top of that, there are native adapter errors. E.g.:

[code]

Oh, and `bulkDocs()` doesn't immediately fail on errors, but instead returns an array of all results, some of which can be errors in its object. See the website for an example on that: h

[2015-04-29 17:31] AGBrown commented on #1
@marten-de-vries, thank you I will take a look at those examples.

As background for this discussion: the [old pouch.d.ts](https://github.com/borisyankov/DefinitelyTyped/blob/c4fb7fafaf697141293eaa071a483668087ad700/pouchDB/pouch.d.ts) (for 0.1) defined a shape (an interface) for errors, and then set that as the shape used by many of the callbacks (including `allDocs` - examples below).

My thinki

[2015-04-29 19:24] AGBrown opened #2 "Replicate 'Delete doc with rev in opts'"
**Summary:**

The api docs imply two (and *only* two) overloads for `remove`,

1. `remove(docId: string, docRev: string, options?: { ...`
2. `remove(doc: { _rev: string; _id: string; }, options?: { ...`

<sub>(where the doc in the overload (2) is currently typed to [`ExistingDoc`][existdoc])</sub>

The test 'Delete doc with rev in opts' (see below) implies a third overload:

3. `remove(doc: NewDoc

[2015-04-29 19:44] marten-de-vries commented on #2
The documentation often doesn't contain all the allowed forms, just to keep the whole thing understandable. Supplying a rev in the options might have been added for backwards compatibility or some syntactic sugar or some other reason, but since it's not explicitly deprecated I think in this case you can consider it supported. (Mostly because it _is_ tested.)

On the other hand, it's not a widely u

[2015-04-29 20:17] AGBrown commented on #2
IRC chat log:

<kbd>[20:45:47] <nolanlawson></kbd> AndyBrown: I don't think that options object is used for anything. but it is documented

<kbd>[20:45:56] <nolanlawson></kbd> http://pouchdb.com/api.html#delete_document

<kbd>[20:47:03] <commandoline></kbd> well, there is this rev option AndyBrown talked about that's tested. And I pretty much add options to anything using pouchdb-wrappers to compl

[2015-04-29 20:29] AGBrown opened #3 "Overload resolution"
Related to #1

Need to work on overload resolution. Example:

**A:**
[code]
*vs.*
**B:**
[code]

Using **A** then the following code shows `err` in intellisense/type-checking as `any`. Using **B** `err` is correctly (and more helpfully) identified as `Error | {}`

[code]

[2015-04-29 20:54] AGBrown commented on #2
Decision: we will add this, but it is low priority for the moment as it is not publicly documented, it is just in one of the tests, and the current overload definitions do fulfil the api docs as explicitly stated. Assigning it as up-for-grabs for anyone to fork and PR.

[2015-04-30 12:32] AGBrown commented on #3
Largely done - still need to add some correctness tests to `pouchdb-tests.ts` for one or two api methods.

[2015-04-30 13:02] AGBrown opened #4 "bulkDocs `docs` parameter shape?"
In the [api documentation][api-batchcreate] it states (emphasis added):

and shows the code:

[code]

In `test.basics.js` for the [`'Bulk docs'` test][js-test396] it shows:
[code]

The difference is that in the api documentation the `docs` parameter is an array, but in the test it is an object, with a `docs` property that is an array.

### Question

Which form should we add into the d.ts file?

1.

[2015-05-03 18:10] marten-de-vries commented on #4
`{docs: []}` is the old syntax, since it's in the test file & doesn't print a warning it's probably not going to go away any time soon, but it's not recommended either since it's essentially just unnecessary typing. So option 3 would be possible, but 1 is enough for now.

[2015-05-03 21:38] AGBrown commented on #4
<kbd>[14:03:36] <AndyBrown></kbd> anyone - what is the `docs` argument for `bulkDocs`? An array, or an object with a `docs` property that is an array - comments and help please: https://github.com/AGBrown/pouchdb.d.ts/issues/4
<kbd>[14:16:26] <nolanlawson></kbd> AndyBrown: both are accepted
<kbd>[14:16:56] <AndyBrown></kbd> nolanlawson: thanks. Would you want both on the v3.4.0 d.ts, or just the o

[2015-05-03 21:41] AGBrown commented on #4
@marten-de-vries, that is helpful, thanks (relevant IRC added above).

I started working through the `test.bulk_docs.js` file and replicating in ts, which is proving to be an increasingly good way to make sure the _d.ts_: (a) lets me code everything that is reasonably expected from pouchdb's api; and (b) has the right balance between too simple and too complex a d.ts file. It is, however, a slow w

[2015-05-07 16:12] AGBrown opened #5 "`id` or `_id` (test `'Testing issue #48'`)"
In the [api documentation][api-bulkdocs] it states (emphasis added):

and shows the code:

[code]

In `test.basics.js` for the [`'Testing issue #48'` test][test-510] it shows:
[code]

The difference is that in the api documentation it states the id is an `_id` property, but in the docs it uses `id` without the leading underscore.

### Question

Which form should we add into the d.ts file for v3.4.

[2015-05-07 16:16] AGBrown commented on #5
It is worth reiterating - we don't have to enforce _either_ form, but the d.ts can guide developers by enforcing properties. For document operations that require an id we could stick to specifying that `_id` is required, or put both `id` and `_id` on the document interface and make them both optional - however that will then cause complications with intellisense resolving overloads, I think.

If `

[2015-05-07 18:28] AGBrown commented on #5
From IRC:

<kbd>[18:34:44] <AndyBrown></kbd> nolanlawson: ... is that test mistakenly missing an underscore in front of `id` for the objects in the `docs` array?
<kbd>[18:44:09] <nolanlawson></kbd> AndyBrown: yeah, that test is a mistake
<kbd>[18:44:22] <nolanlawson></kbd> notice that it's not even verifying that the _ids its gets back are `1, 2, 3, 4`
<kbd>[18:44:44] <nolanlawson></kbd> it could

[2015-05-07 18:31] AGBrown commented on #5
Closing: as per nolanlawson's comment on IRC:

i.e. - the confusion that led to this issue was due to pouchdb/pouchdb#3810 (the test documents should have used `_id`, or just renamed `id` to `foo` to prevent confusion with an actual document `_id`).

[2015-05-07 18:31] #5 closed

[2015-05-10 16:42] AGBrown opened #6 "`info()` result `auto_compaction` property"
#### Background

In the [api docs] it lists the [response object] as (in .ts form):
[code]

it also states:

Thus far I have represented these as a [special case interface] for advanced use:
[code]

the [result of] `info()` can therefore be "normally" treated as a `Response` object, and optionally cast to a `ResponseDebug` to access the extra properties in advanced usage.

#### Question

In the te

[2015-05-10 18:41] nolanlawson commented on #6
Yeah, I think we forgot to document the `auto_compaction` property on the info object.

In general, you will have a tough time formalizing those keys, because they vary wildly among different *ouch implementations (check out the difference between PouchDB Server, CouchDB 1.x, CouchDB 2.x, Cloudant, and Couchbase Sync Gateway sometime)...

I dunno what the standard is for such cases in TypeScript,

[2015-05-10 19:21] AGBrown commented on #6
@nolanlawson I don't actually know if I can do that, but I will look into it.

It could also be the case that we build up a set of different info response objects that have keys based on the underlying, and then the end user can cast to the right object.

As with all ts I could just return the info as `any` - it would all still be valid, but adding the most common properties to the returned object

[2015-05-10 19:23] AGBrown commented on #6
Closed for now - [e3d87cac](https://github.com/AGBrown/pouchdb.d.ts/blob/e3d87cac/pouchdb.d.ts#L844) seems to match what @nolanlawson  and @marten-de-vries are saying, and the d.ts now [allows the tests to be written](https://github.com/AGBrown/pouchdb.d.ts/blob/e3d87cac/tests/integration/test.basics.ts#L787-L800).

[2015-05-10 19:23] #6 closed

[2015-05-11 20:11] AGBrown opened #7 "Review pouchdb.d.ts against DefinitelyTyped contributions guide"
We need to review the pouchdb.d.ts file with respect to the [DefinitelyTyped contributions guide]

[DefinitelyTyped contributions guide]: http://definitelytyped.org/guides/contributing.html

[2015-05-11 20:57] AGBrown opened #8 "Review license and copyright notices"
They aren't correct as they were put in as the default MIT license from git (with my copyright in it) when I got this off the ground on a lazy sunday afternoon not knowing if it would last more than two days.

[2015-05-11 20:57] AGBrown opened #9 "Include the legacy pouch.d.ts in the new repo as a versioned d.ts"
Each api version change theoretically needs a versioned file published (and maintained) for it as per the [DefinitelyTyped contribution guide]. We do not want to discard the [old pouch.d.ts file] when we contribute to DefinitelyTyped, so we should include it as `pouchdb.d.ts-0.1.0.d.ts`.

However, this therefore needs a review of the license/copyright (see #8) in this repo before we can pull that

[2015-05-11 21:02] AGBrown opened #10 "Regression test pouchdb.d.ts against existing pouch-tests.ts"
I don't know how much of this will be possible, but I would have thought the new pouchdb.d.ts in this repo should be able to pass many of the tests in the old [DefinitelyTyped `pouch-tests.ts`], and doing this may help highlight gaps/structural issues in our implementation.

[DefinitelyTyped `pouch-tests.ts`]: https://github.com/borisyankov/DefinitelyTyped/blob/11c3bec/pouchDB/pouch-tests.ts "Defi

[2015-05-11 21:11] AGBrown commented on #10
Actually in a quick and dirty pass at this (no commits until #8 is fixed) this worked with very few changes so that looks good already.

[2015-05-11 21:48] AGBrown commented on #1
I have now reviewed [`pouchdb/lib/deps/errors.js`](https://github.com/pouchdb/pouchdb/blob/1114aa4/lib/deps/errors.js) and restructured the error interfaces accordingly in 56a04ad1. The basic error interface is now used in the [standard callback and promise responses](https://github.com/AGBrown/pouchdb.d.ts/blob/39a13c6/pouchdb.d.ts#L129-L145). I have also used `PouchError` on the response to `bul

[2015-05-12 00:07] AGBrown opened #11 "Recontribute our updated chai.d.ts to DefinitelyTyped"
This is a distraction, but I had to update `chai.d.ts` in order to reproduce the pouchdb tests. Really it needs contributing back to DefinitelyTyped, but it lookes like a fair bit of work to update their `chai-tests.ts` file and I don't have time right now.

[2015-05-12 11:27] AGBrown opened #12 "`put` overload resolution"
This code:

[code]

Is choosing the `NewDoc` overload. It should be choosing the `ExistingDoc` overload.

[2015-07-04 23:51] mfilotto opened #13 "Missing replicate and sync function"
Hi,
I can't find replicate and sync functions in the definition.
Thanks
Math

PS: good job :+1:
I vote for add this definition to DefinitelyTyped

[2015-07-05 11:34] AGBrown commented on #11
Complete: This was done on 24th May 2015: borisyankov/DefinitelyTyped#4372

[2015-07-05 11:34] #11 closed

[2015-07-05 12:06] AGBrown opened #14 "Complete milestone p3.4.0-v0.1.0 and submit to DefinitelyTyped"
Needs:

- [ ] Complete items in [milestones/p3.4.0-v0.1.0]
- [ ] Review pouchdb versions. `p3.4.0-v0.1.0` should correspond to `v3.4.0` - any new features for later pouchdb versions should be appropriately branched, labelled, versioned in this repo
- [ ] Review DefinitelyTyped for recent changes to the [DT Contribution guide]
- [ ] Create `v3.4.0` branch from `master`
- [ ] Create `v3.4.0-v0.1.0`

[2015-07-05 12:33] AGBrown commented on #13
Hello @mfilotto. Thank you for the issue report (have you seen borisyankov/DefinitelyTyped#4328)?

I didn't get as far as these two methods in the initial sprint, unfortunately. I will take a look at it in the next month or so, but if you fancy submitting a PR <sup>†</sup> before then I'll always review/merge it.

<sup>†</sup> The dev approach for pouchdb.d.ts is outlined [here](https://github.com

[2015-07-07 20:17] mfilotto commented on #13
Hi @AGBrown,
Thanks for you answer.
I work on a PR ASAP.

[2015-07-10 20:06] mfilotto commented on #13
wip...

[2015-07-30 23:33] fredgalvao opened #15 "(typo) allDocs.DocContainer signature is misleading"
TLDR:

According to the current signature of DocContainer:
[code]
, a DocContainer would have both `[doc, id, key, value]` AND `[_id, _rev, _attachments]` inherited from ExistingDoc, which is not true. According to a test on pouchdb.com as of now, that object comes like this:
[code]
which proves my point that
[code]
should actually be
[code]

[2015-07-31 15:07] AGBrown commented on #15
Also http://pouchdb.com/api.html#batch_fetch shows the following data structure returned from an `allDocs` call:

[code]

From what I can see [3d11f00](https://github.com/AGBrown/pouchdb.d.ts/commit/3d11f002c3511afbd5474a99b66bba56c1b5d22c#diff-20ca78683773edb5bfb1eafb0a825069R207) is where that interface was first added to the d.ts, and it's definition hasn't (really) changed since that commit. S

[2015-08-01 16:08] nolanlawson commented on #15
Yes, this seems right. The response from allDocs/query will never have an _id/_rev/etc at the root level.

[2015-08-01 16:20] #15 closed

[2015-08-01 16:21] AGBrown commented on #15
Thank you @fredgalvao for the fix, and @nolanlawson for the confirmation

[2015-08-05 13:05] AGBrown opened #17 "Work on the new 4.0.0 api"
See http://pouchdb.com/2015/08/03/pouchdb-4.0.0-ballast-overboard.html for a list of deprecations and additions.

[2015-09-16 23:39] fredgalvao opened #18 "Make definitions work nicely with third-party promise implementations"
This definition file/project (*pouchdb.d.ts*) should not create it's own definition of a `Promise/Thenable`, (*edit* currently defined at [these lines](https://github.com/AGBrown/pouchdb.d.ts/blob/master/pouchdb.d.ts#L141-L146)) even if said definition is A+ and/or spec compliant, because it makes extending the api invasive if anyone does `global.Promise = require('bluebird');` as suggested by the

[2015-09-16 23:47] AGBrown commented on #18
Agreed. This has been on my todo list from the start. Initially I just had to
get something in there, but it should definitely be changed. PRs welcome, but if
you don't have time maybe one of us will.

[2015-09-17 20:27] fredgalvao commented on #18
Ok, so:
I managed to make it work in two different ways, and I can't make the decision on which one to use by myself here, so I need some input @AGBrown .

I'm leaning towards the second one, FYI.

## Futuristic approach

If I change the file `tsconfig.json`(created by me) to target typescript compilation to **es6**, I can point directly to the official Promise interface/class implementation from

[2015-09-17 21:51] AGBrown commented on #18
I think it might be good to get some input on this. My gut feel would be to follow the conventions (if any) in the DT repo.

_edit_: brief review of DT repo d.ts files:
- [acl.d.ts](https://github.com/borisyankov/DefinitelyTyped/blob/6f6e5c7dd/acl/acl.d.ts#L6): **references** `bluebird.d.ts` and uses `import Promise = require("bluebird");`
- [alt.d.ts](https://github.com/borisyankov/DefinitelyType

[2015-09-18 11:07] AGBrown commented on #18
One note I would make is that importing a promise definition means we lose the ability to provide the shape of the Error object for the `onReject`/`reject` function. Currently we are trying to define [an error shape](https://github.com/AGBrown/pouchdb.d.ts/blob/master/pouchdb.d.ts#L135-L139)

[code]

which is then [used by the promise definition](https://github.com/AGBrown/pouchdb.d.ts/blob/master

[2015-09-18 19:28] fredgalvao commented on #18
Nice digging there!

So:
- I personally don't like `import`ing stuff atm as it implies a specific way to compile your project, which might not always be the case for end users. However, my experience with typescript and standard module definiton/import is not that great, and I could be wrong in this one.
- Yes, I've seen plenty of definition files on DefinitelyTyped referencing each other using th

[2015-09-18 22:53] AGBrown commented on #18
I was fast and loose with the word import, that's my fault. I meant: "_One note I would make is that **`///` referencing** a promise definition ..._"

I am currently thinking this is the way to go. My one worry is that the IDE will constantly complain about the use of Promise as a return type inside the d.ts itself which would be annoying when developing the d.ts, but I think we can get round that

[2015-09-20 22:58] fredgalvao commented on #18
Oh, on the `import` thing, I wasn't refering to that comment of yours, I was giving my opinion on the examples you provided from DefinitelyTyped. :wink:

So, I've already done that all work before we came to the conclusion, as I needed a working version to progress on another feature of my own project :).

I just need to switch the `tsconfig.json` compilation output to es6 and remove the `referenc

[2015-09-20 23:02] fredgalvao opened #19 "[meta] Code style"
So, I have a few small contributions to make, but I don't really see what coding style you prefer (if any) and I don't want to disrupt existing code.

Do you have any? Should we create an [`.editorconfig`](http://editorconfig.org/)? Can I follow default VSCode standards?

[2015-09-21 22:17] AGBrown commented on #19
:+1:

I thought I had an `.editorconfig`, but it doesn't seem to be committed. I don't have the original source folder any more, so let's just create a new one. As long as we code in line with the DT conventions  in the [best practices](http://definitelytyped.org/guides/best-practices.html), [contributions](http://definitelytyped.org/guides/contributing.html) and [submissions](http://definitelytyp

[2015-09-21 22:18] AGBrown commented on #18
Sounds like a plan. Thanks again for the all your work on this.

[2015-09-22 17:27] fredgalvao commented on #19
Welp, there is an `.editorconfig` (don't know why I had forgotten about it), but only style for the inner tests were defined. I did it for the main files now.

[2015-09-22 18:06] fredgalvao commented on #3
This should not be a rule, I'd guess this is a bug in intellisense on whichever IDE that is. Seeing this issue I now understand the reason for so many overloads :smile:.

[2015-09-22 22:06] AGBrown commented on #19
Following gitter chat with @fredgalvao this is where we are at. Based on:
- [pouchdb - contributing](https://github.com/pouchdb/pouchdb/blob/master/CONTRIBUTING.md), which links to [felix's node style guide](https://github.com/felixge/node-style-guide#2-spaces-for-indention)
- and [DT - contributing](http://definitelytyped.org/guides/contributing.html) which says

- and the discussion on DT issue

[2015-09-22 23:30] AGBrown opened #22 "Rename `Promise` interfaces"
Calling the interfaces for the promise-based overloads `interface Promise` in all the method-grouping modules is confusing. This happened early on because ... well I forget, but it didn't clash with the original `Thenable` so that was ok. Now that we are doing #18, and @fredgalvao has added `GlobalPromise`, it looks like it does need to be corrected:

1. Rename all the `interface Promise` to somet

[2015-09-22 23:52] fredgalvao commented on #22
On the `Rename GlobalPromise to Promise to make it more idiomatic` subject:

Current proposed definition of GlobalPromise is as follows:

[code]

If we rename it to Promise, we'll follow in these lines:

### Not compile

[code]

 === circular dependency.

We then could simply output definitions to the same global interface that already exists (we hope it does), have typescript merge them all, and

[2015-09-23 15:09] AGBrown commented on #22
I was definitely thinking of the [declaration merging](http://www.typescriptlang.org/Handbook#declaration-merging) approach, i.e. `interface Promise<T> {pouchCode;}` rather than `interface Promise<T> extends Promise<T>`.

So if I understand correctly the main objection to this would be that if `Promise` has not been supplied by a user reference externally, then we are defining `Promise` ourselves,

[2015-09-23 18:47] fredgalvao commented on #22
My main objection to merging declarations with the standard `Promise` is because we would make intellisense and tsc believe that all Promise objects have a rejection callback that receives a pouch Error object as parameter, and that's not true at all. Only promises generated inside pouch's API can be guaranteed to offer that object.
That's why I would prefer creating `PouchPromise extends Promise`

[2015-09-23 19:16] AGBrown commented on #22
Agreed. If a user goes ahead and uses both pouchdb.d.ts and another d.ts inside their project which also uses promises (e.g. `acl.d.ts`), we don't want the pouchdb overloads showing up when they do `.returnsAPromise().then(...`

Other than that, that plan of action seems to be the right one.

[2015-09-23 21:21] AGBrown commented on #22
So a recap following gitter discussion:
1. Rename the `interface Promise` to something else
2. Rename `GlobalPromise` to `PouchPromise` and:
- Move it inside module pouchdb.async
- Export it
- Make every `PouchPromise` method call return and understand native `Promise`s, not `PouchPromises`, so we don't cascade unsafe typings.

This was as a result of the discussion we had about the fact that a `c

[2015-09-23 22:34] AGBrown opened #23 "PouchDB ctor definitions naming"
Relates to #22

Consider:

[code]
1. `thenable.PouchDB` is a bad name (a real `thenable` does not have a `catch` anyway)
1. `thenable.PouchDB` is just there to be the return type for the promise-based constructors (i.e. to prevent `then` showing up on your pouchdb `db` variable)
1. `promise.PouchDB` is *exactly*  an `api.db.Promisable`
1. but `pouchdb.promise.PouchDB` is there because, ideally, yo

[2015-09-26 17:47] AGBrown opened #24 "Upgrade to TS 1.6, es6 mode, and create tsconfig.json to standardise build process"
Relates to #18. We have to add a `tsconfig.json` to standardise the build process, upgrade to TS1.6 (and fix resulting errors) and set es6 mode.

@fredgalvao has already added a `tsconfig.json` in [fredgalvao/pouchdb.d.ts/486bf85](fredgalvao/pouchdb.d.ts/commit/486bf85). This is just an issue to track and merge that particular task into master.

[2015-09-26 18:27] AGBrown commented on #24
@fredgalvao - I'm attempting to separate this (hopefully small) task from the larger work in the PR for #18 (mostly to make the commit history easier to follow, and that PR easier to review and merge).

I cherry picked your commits from the PR that deal with `tsconfig.json` (and therefore `.gitignore` and `package.json`. You can see the result in [compare dev@34b50edc: i24-tsconfig.json@3726e6bc](

[2015-09-26 18:46] fredgalvao commented on #24
I see none. Although I was trying something different with my version of `tsconfig.json`, you achieved the same and something else (the compilation of `tests/**/*.ts`).

I don't quite remember the small issues I encountered that made me go back to `files` instead of `exclude`, but it should come up quicky once I apply your changes on my end.

For now you can consider this closed, I guess.

[2015-09-26 18:49] AGBrown commented on #24
@fredgalvao

I wish! The change to es6 has resulted in a plague of red wiggly lines and travis failures [in the PR](https://github.com/AGBrown/pouchdb.d.ts/pull/25).

[2015-09-26 21:22] AGBrown opened #26 "es6 "Strict object literal assignment checking" breaks test files."
Discovered while testing #24

Reference: [typescript 1.6 > breaking changes > Strict object literal assignment checking].

This relates to #24. During the upgrade to ts 1.6.2, and specifying that version in the `package.json` and the associated options in `tsconfig.json`, the test files failed to build. This was due to (for example) [pouchdb-tests.ts#L292], which specifies a `foo` property, which

[2015-09-26 21:42] AGBrown commented on #26
TODO:
- [ ] discuss and approve, get a +1 from @fredgalvao if we are going ahead
- [ ] update readme.md appropriately

[2015-09-26 22:40] AGBrown opened #27 "FilterOptions.keys should be an array"
Currently defined as `keys?: string;` not `keys?: string[]`:

See: https://github.com/AGBrown/pouchdb.d.ts/blob/56529f45/pouchdb.d.ts#L320

[2015-09-26 22:55] #27 closed

[2015-09-27 00:15] AGBrown commented on #24
red lines now fixed (see #26) by pulling in commits from @fredgalvao. #25 open for comments, review, +1 etc. That PR also includes fix for #26.

[2015-09-28 21:17] fredgalvao commented on #26
I'd vote to simply get `loose`|`plugins` as part of the core, but having the option to choose will never hurt, so I'm okay with the proposed solution.

[2015-09-28 22:15] #24 closed

[2015-09-28 22:15] #26 closed

[2015-09-28 23:52] AGBrown commented on #19
Fixed with 3f9ed832f765ed484b70c3aa1f17a35bee38f3cd

[2015-09-28 23:52] #19 closed

[2015-09-29 23:04] #18 closed

[2015-09-29 23:04] #22 closed

[2015-09-29 23:17] AGBrown opened #29 "Put @fredgalvaos name in the contributor list"
@fredgalvao needs his name in the d.ts ["definitions by" line](https://github.com/AGBrown/pouchdb.d.ts/blob/785d5d195b17b8fae898643f3f2ad5e28862128d/pouchdb.d.ts#L3)

[2015-09-29 23:25] #29 closed

[2015-09-29 23:30] AGBrown opened #31 "Update readme-dt.md for ctor usage and interfaces as per #23"
The readme file for the dt repo (i.e. for the d.ts usage) needs to be updated to explain how to use either the callback or promise ctors, and why there are two promise interfaces.

[2015-09-29 23:32] fredgalvao commented on #31
It also needs to explain why `pouchdb-loose.d.ts` and `pouchdb-plugins.d.ts` exist, and how to use them.

[2015-09-30 13:27] AGBrown commented on #23
Update from IRC chat with daleharvey:

TL;DR: pouchdb officially does not support the ctor returning a promise, so we should remove it. Updating this issue accordingly (cc @fredgalvao).

[2015-09-30 15:03] AGBrown commented on #23
Updated this issue, and the code (7ea6e816862ada4c79903f8cd0312efbe60ae5a0) following feedback from daleharvey. Comments from anyone? (cc @fredgalvao).

[2015-09-30 19:33] fredgalvao commented on #23
That's awesome news! I didn't like that `thenable|promise` thing. I'm wondering why such things aren't removed from the code base on major version bumps though, as in 4.0.0 (which removed bluebird :cry: ).

Doesn't that imply that the callback parameter passed on to the constructor is also deprecated and should not be advised? (In the end it's just another way to deal with async behaviour on the d

[2015-10-01 21:37] AGBrown opened #32 "Is the callback parameter on the ctor deprecated?"
From the [IRC feedback](https://github.com/AGBrown/pouchdb.d.ts/issues/23#issuecomment-144395648) in #23, does that reasoning also extend to the callbacks (i.e. is the callback to handle creation/error deprecated as well)?

[2015-10-01 21:46] AGBrown commented on #32
From IRC:

[2015-12-02 07:38] sebglon opened #33 "missing query function"
I have not found 'query function.
How can i write query map/reduce?

[2015-12-02 11:23] AGBrown commented on #33
@sebglon Query hasn't been added to the d.ts yet. If you would like to add it then I'll gladly accept a PR.

[2015-12-07 08:33] sebglon commented on #13
I added 'replicate' in my PR show #36

[2015-12-07 13:33] AGBrown opened #37 "Pouchdb version"
This project was originally created when pouchdb was on v3.4.0. Soon after PouchDb did a major version release, and is now on v4.0.3.

It seems pointless to support v3.x if nobody who uses this tsd actually uses v3.x of PouchDb.

If there are no objections I will formally change our minimum supported version to v4.0.3, which is the current PouchDb version.

Ping @fredgalvao @sebglon @iron9light @f

[2015-12-07 13:37] AGBrown commented on #33
I would like to see if @filionf can add his findings to this issue. From the network it looks like he has added the query function with [c63f5f6](https://github.com/AGBrown/pouchdb.d.ts/commit/c63f5f6#diff-20ca7868)

[2015-12-07 13:41] AGBrown commented on #13
@mfilotto did you get anywhere with your PR? If you did then it would be good to see what you have, even if incomplete, so we can compare it with the work by @sebglon and check we aren't going missing any considerations.

[2015-12-07 13:48] NickColley commented on #37
@AGBrown Do you mean 5.x here? https://github.com/pouchdb/pouchdb/releases

[2015-12-07 13:56] AGBrown commented on #37
@nickcolley - thanks! That just makes this even more necessary to discuss. I only looked at the home page for pouchdb and saw v4.0.3 as the latest version.

I would rather not have to try and complete the tsd for v3.4.0, then assess the changes for all minor and major versions between that and v5.x. So, if everyone we know of is using v5.x as a minimum, then that makes our lives a lot easier - we'

[2015-12-07 14:46] filionf commented on #37
I am good with 5.x as the minimum version. I have other projects still on 3.x, but they will be upgraded sooner than later.

[2015-12-07 14:50] filionf commented on #33
Yes, I added query to my repo for my own purpose, but I believe I had some elements missing on it, which is why I have not sent a PR. I could have another look, which branch should I be targeting for this?

[2015-12-07 17:20] AGBrown commented on #33
@filionf You'll be fine if you work off the current `dev` at e0147ee. I _think_ that the current `i23-ctornames` will actually get merged into dev, but it's a bit of a wip at the moment (still).

[2015-12-07 19:24] fredgalvao commented on #37
PouchDB is a pretty easy-to-keep-up-to-date project. I've been using the latest since I fetched the project for the first time, with no downsides. I'm on 5.1.0 on my main project, I see no reason not to bump this to reflect that.

[2015-12-07 21:14] mfilotto commented on #13
@AGBrown sorry Andrew, I'm very busy these days so no progress on my side.
Thanks to @sebglon for his work that will be very usefull

[2015-12-07 21:18] mfilotto commented on #13
Do your pouchdb definition be pushed in DefinitelyTyped soon ?
I hope so

[2015-12-08 18:56] AGBrown commented on #37
3/6 votes so far in favour. We'll do this if we get one more +1, or no objections by the end of the week.

[2015-12-08 20:16] sebglon commented on #37
+1

[2015-12-08 21:06] mfilotto commented on #37
+1

[2015-12-08 22:51] dbalage commented on #37
+1

[2015-12-10 13:46] AGBrown commented on #37
Groovy - I'll put that on my todo list.

[2016-01-19 14:06] ximex commented on #37
+1

[2016-02-26 10:20] mrblackus commented on #37
+1

[2016-02-28 08:44] Kethku commented on #37
any news on this? I'm looking at porting my pouchdb app to typescript, but the lack of a good type definition is making it a real struggle...

[2016-02-28 13:11] AGBrown commented on #37
@Devagamster - no news, I'm afraid. Maybe we could start with the community opening issues for missing features, and then we can start soliciting for PRs to close them. I am not using either typescript or pouchdb at the moment so I'm not best placed to do either of those, but I can review and merge.

[2016-03-29 15:54] andreujuanc commented on #13
I added replicate.to to my fork.
Going to work on sync method aswell.

[2016-03-29 15:57] andreujuanc commented on #37
@Devagamster I just found pouchdb and,  like you, want to use typescript. So ill start updating the typings.
C:

[2016-03-30 14:47] episage commented on #37
+1

[2016-04-01 03:11] MMJM commented on #37
+1

[2016-04-04 22:17] andreujuanc opened #39 "PouchDB plugins issue"
Hello!
In the process of learning, i made some methods that were not implemented. They now work but have no testing at all and I have no idea if they were well made, or using the right sintax, i just needed them so i made them.

Now, problem is, i would like also to contribute more deeply into this. I want to make typings for some plugins, like find and authentication.

I have no idea how to "inte

[2016-04-08 13:22] mlegenhausen commented on #37
+1

[2016-04-11 08:47] andreujuanc commented on #37
Guys, i have few questions for you:
- What pouchdb plugins do you use?
- Do you use query method or find plugin?
- If you use query, which override do you use? String to match view name or map/reduce js?

[2016-04-11 21:40] MMJM commented on #37
Hi,

To answer your questions.

I use the find plugin.
I want to use find but it has a few issues and I know that at some point query will be replaced by find.

I am surprised there isn’t a maintained pouchdb.d.ts file out there and I’m glad you are looking at it. Thanks

John Mooney
[LogoForEmailSignatures]
Ph: 1300 721 773
(+61 7 3194 3693 from overseas)
www.migrationmanager.com.auhttp://www.mig

[2016-04-12 18:43] andreujuanc commented on #37
I also had some problems when using Find.

Btw @MMJM  What override of query() do you use? I think im going to change it to the string only. Since its WAY better to have indexes written as a design document, and simply call them via query when need it, instead of calling for map functions on query.

[2016-04-12 19:05] filionf commented on #37
I am using the query with string as well exactly for the same reason (indexes). If have a pull request pending for the query function in the so you can use my version if you wish until it is accepted & merged.

[2016-04-13 06:04] MMJM commented on #37
I don’t really use it but I would definitely go for the string version and use design documents for indexes.

Thanks for asking

John Mooney
[LogoForEmailSignatures]
Ph: 1300 721 773
(+61 7 3194 3693 from overseas)
www.migrationmanager.com.auhttp://www.migrationmanager.com.au/

NOTICE: CONFIDENTIAL COMMUNICATION
This communication contains information which is confidential and the copyright of Mig

[2016-04-15 08:14] andreujuanc commented on #37
Try this version, the string is only for promises version:  Do you use callbacks?
https://github.com/andreujuanc/pouchdb.d.ts/commit/f1e1008febf1c6fcda4d85aafa79d18a9b1cf97f
Includes support for pouch-authentication, if its not used, then just ignore those methods.

I have no idea how to integrate a file for plugins so i just put them inside.

[2016-04-15 08:19] andreujuanc commented on #37
Also you can use sync!!! returns any, I didnt have time to type it.

var result = PouchDB.sync(this.db, this.remotedb, {
            live: true,
            retry: true
        }).on('change', function (info) {
            // handle change
        }).on('paused', function () {
            // replication paused (e.g. user went offline)
        }).on('active', function () {
            // replicate

[2016-05-20 08:43] bellierjonathan opened #40 "remove me"
-

[2016-06-02 09:35] #40 closed

[2016-06-22 18:06] nolanlawson opened #41 "Open a PR on DefinitelyTyped?"
Apparently the DefinitelyTyped definitions are really out of date. At least, that's what I keep hearing from PouchDB+Angular users. (I've never used TypeScript.)

Could you open a PR on DT to merge your stuff into theirs? Otherwise it seems like PouchDB users are perpetually confused. Unless you think there's a better solution (really I have no idea, just offering suggestions here 🙂). Thanks!

[2016-06-22 18:55] AGBrown commented on #41
@nolanlawson, no - I have no better idea.

When I first looked at this the DT definitions were already really out of date. I put out a request for contributions (see borisyankov/DefinitelyTyped#4328), but there was little interest at that time. My first solo dev effort probably did the 80 of the 80/20 rule to get to v3.4.0, but by the point that was done you were already moving on with versions, t

[2016-06-23 00:44] nolanlawson commented on #41
Yep, looks like a dup to me. Happy to close!

As for your work on the issue, I’m sorry that it’s been hard to keep up with us. I would love to make things easier for the TypeScript community but unfortunately it’s just a lot of work to match our pace, even if our API is relatively stable.

[2016-06-23 00:44] #41 closed

[2016-06-23 06:41] fredgalvao commented on #41
I'd never ask you to apologize for having such a fast-paced project like PouchDB. Please, by all means, keep doing the awesome job you're doing as fast as you can!

However, I do think what we have here is not far from what we need to be a final version for 5.x.y as a base for future typings. The code is complex right now **only** because of the two-face life PouchDB had up until v4. If we could e

[2016-06-23 09:31] AGBrown commented on #41
@nolanlawson - your pace would not be an issue if I had time to spend on this. The issue is more (as @fredgalvao touched on) the impedance mismatch between a highly flexible javascript based project, and trying to specify a useful, highly typed, api for it. So really its a javascript vs typescript issue.

We had fun with supporting both the promise and callback apis, but I think we did an ok job w

[2016-11-21 17:03] filionf opened #42 "TypeScript 2.0 Contribution"
Hello,

I started using the npm types functionnality of TypeScript 2.0 and noticed PouchDB was there. I've started this project to add what is missing for me, but I would like to contribute back: https://github.com/filionf/pouchdb.tsd.2.

What I've done needs more fine-tuning, but do you have any recommendations for posting it back before I clone the DefinitelyTyped tree and send PRs?

[2016-11-21 17:26] AGBrown commented on #42
@filionf I believe the [geppy fork](https://github.com/geppy/pouchdb.d.ts) is the current up to date version in DT. It is worth asking on the [slack channel](https://pouchdb.slack.com/messages/typescript/) to see what the current protocol for contribs is as I don't think geppy has opened a PR to merge his changes back into here, so this repo is way behind what DT is currently using.

[2016-11-21 17:35] filionf commented on #42
Thanks. I will have a look on slack.
The types-2.0 is a little different from this repo, but I thought you were the originator.
If you want to have a look:
- https://github.com/DefinitelyTyped/DefinitelyTyped/tree/types-2.0/pouchdb
- https://github.com/DefinitelyTyped/DefinitelyTyped/tree/types-2.0/pouchdb-core

[2016-11-21 17:35] #42 closed

[2016-11-21 17:36] geppy commented on #42
Sorry.  I just commented in the Slack channel that it might be worth replacing this repo with a README that explains the design and that the files are in DT.  I can submit a PR with the latest files here if you'd like, though.

[2016-11-21 17:37] geppy commented on #42
My repo isn't even the latest, other people have contributed PRs directly to DT.

[2016-11-21 17:37] geppy commented on #42
My repo isn't even the latest, other people have contributed PRs directly to DT.

[2016-11-22 13:56] AGBrown commented on #42
@geppy - potentially that makes this repo redundant, would it not be better to delete it altogether?

[2016-11-22 14:05] geppy commented on #42
@AGBrown I was thinking people in Slack might end up here via links, and also that the approach I took to modularization+augmentation might need to be spelled out for people who don't write lots of typing files.  Also, we can use your idea of having actual tests that we run, but have DT as a submodule or a subtree.